NODE_ENV=
API_PORT=

ALERT_VALUE_DANGER=
ALERT_VALUE_WARNING=

DATABASE_USER=satolep_monit
DATABASE_NAME=satolep_monit
DATABASE_PASSWORD=satolep_monit
DATABASE_PORT=5432
DATABASE_HOST=localhost
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=satolep-monit

DISCORD_PANIC_ERROR_USERS=
DISCORD_TITLE=
DISCORD_USERNAME=
DISCORD_WEBHOOK=

MAIN_DISK_FILESYSTEM=

PM2_NAME=
PM2_INSTANCES=
PM2_LISTEN_TIMEOUT=
PM2_RESTART_DELAY=

SERVER_IP=
SERVER_NAME=
SERVER_SLUG=
